<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>くりかえしを制御しよう</title>
  <link href="/layout.css" rel="stylesheet">
</head>

<body>
<div class="wrapper">
  <div class="contents">
    <div class="try">
      10万円貯まるまでの日数を計算するよ。<br>毎日決めた金額を貯金します。1日目、2日目どのように貯金の合計が増えてほしいか入力してね。
    </div>
    <form action="/" method="GET" class="form">
      <input id="number-start" type="text" name="first" placeholder="最初の金額">
      <input id="number-end" type="text" name="second" placeholder="2日目の金額">
      <input type="submit" value="計算する">
    </form>
    <div class="result">
      <p>10000円貯まるまで<br><span class="day"><%= @status ? @status.size : "???" %></span>日かかるブー</p>
    </div>
    <div class="result-list">
      <% if @status %>
        <table>
          <tr>
            <th>日数</th>
            <th>貯金額</th>
          </tr>
          <% @status.each do |count, sum| %>
            <tr>
              <td class="days"><%= count %></td>
              <td class="savings"><%= sum %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>
</body>

</html>

