body {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

.wrapper {
  padding: 30px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.contents {
  width: 600px;
  margin: 0 auto;
}

.try {
  margin: 0 50px 30px;
  line-height: 2em;
}

.form {
  margin: 0 50px 40px;
  display: flex;
  justify-content: space-between;
}

.form input[type="text"] {
  width: 160px;
  padding: 15px;
  font-size: 16px;
  border: 3px solid #999;
  border-radius: 8px;
  box-sizing: border-box;
}

.form input[type="submit"] {
  display: block;
  padding: 15px 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #39cc00;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #00a000;
}

.result {
  width: 500px;
  height: 465px;
  display: block;
  margin: 0 auto 40px;
  position: relative;
  background-image: url("illust.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.result p {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.result-list {
  line-height: 0;
}

.result-list table {
  line-height: 18px;
  width: 500px;
  margin: 0 auto;
}

.result-list th, .result-list td {
  width: 50%;
  padding: 10px 30px;
  border: solid 1px #707070;
}

.result-list th {
  background-color: rgba(255, 234, 85, .5);
  text-align: left;
}

.result-list td.days {
  background-color: #F7F7F7;
}

.result-list td.savings {
  font-weight: bold;
}
